<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhereIsIt"
        tools:targetApi="31">
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".SoporteActivity"
            android:exported="false" />
        <activity
            android:name=".AniadirActivoActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".IniciarSesion"
            android:exported="false" />
        <activity
            android:name=".MapsActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".MapsActivityActivos"
            android:exported="false" />
        <activity
            android:name=".MapsActivityPorPersona"
            android:exported="false" />
        <activity
            android:name=".ListaUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".ImageAdap"
            android:exported="false" />
        <activity
            android:name=".VistaContactos"
            android:exported="false" />
        <activity
            android:name=".ContactsAdapter"
            android:exported="false" />
        <activity
            android:name=".ListaActivosAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".ActivosAdapter"
            android:exported="false" />
        <activity
            android:name=".OsmMapActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>